header{
    background-color: #1EB6FF;
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
}
/*header .logo{
    color:#ffffff;
    text-align: center;
    display: flex;
    float:left;
}
header .logo h1{
    margin-top: 40px;
}*/
header a{
    color: #000000;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
    margin-right: 2%;
}
header button{
    background-color: #00FF00;
    margin-left:25%;
    width:150px;
    height:50px;
    margin-top: 30px;
}
header button:hover{
    background-color: #00c900;
    color:#FFFFFF;
}
header button span{
    transition:0.5s;
}
header button:hover span:before{
    content: '>>';
    margin-right: 5px;
}
header button:hover span:after{
    content: '<<';
    margin-left: 5px;
}
header img{
    height: 100px;
    width: auto;
}

.aboutus{
    padding: 10px;
    background-color: #FFF2CC;
}
h2 a{
    color:black;
    text-decoration: none;
}
.aboutus p{
    margin: 20px;
}

.whychooseus{
    padding: 10px;
    background-color: #DAE8FC;
}

.cart{
    display: inline-block;
    width: 300px;
    border-style: solid;
    text-align: center;
    height: 200px;
    overflow: hidden;
    margin-left:3%;
    padding: 2%;
}

.services{
    padding: 10px;
    background-color: #ffffff;
}

.products{
    background-color: #FFFFFF;
}

.product{
    display: inline-block;
    width: 600px;
    margin-left:5%;
}
.product img{
    width: 200px;
    height: auto;
}

.prize{
    color: #009900;
}

.usualquestions{
    padding: 10px;
    background-color: #B1DDF0;
}
.uquestion{
    width: 97%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    margin-left: 20px;
}
.active, .uquestion:hover{
    background-color: #DDDDDD;
}
.uanswer{
    background-color: #e8f8f6;
    padding: 12px;
    width: 97%;
    margin-left: 20px;
    display: none;
    overflow: hidden;
}

footer{
    background-color: #0000FF;
    padding: 30px;
    color:#FFFFFF;
    text-align:center;
}
footer h1{
    color:#ffffff;
    display: inline;
    text-align: left;
}
footer img{
    height: 100px;
    width: auto;
}
footer a.mapa{
    color:#FF0000;
    text-decoration: wavy;
}
footer a:hover{
    color:#00FFFF;
    text-decoration:underline;
}
.ModalMap{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.Modal-content{
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: appear;
    -webkit-animation-duration: 0.4s;
    animation-name: appear;
    animation-duration: 0.4s
}
@-webkit-keyframes appear {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes appear {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
.ModalMap .close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.ModalMap .close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}